<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @order.user %>
</p>

<p>
  <strong>Collection:</strong>
  <%= @order.collection %>
</p>

<p>
  <strong>Dish:</strong>
  <%= @order.dish %>
</p>

<p>
  <strong>Rice:</strong>
  <%= @order.rice %>
</p>

<p>
  <strong>Take out:</strong>
  <%= @order.take_out %>
</p>

<p>
  <strong>Description:</strong>
  <%= @order.description %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
